{% extends "admin/base.html" %}

{% block title %}
    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrahead %}
    {% load selectable_tags %}
    {% include_ui_theme %}
    {% include_jquery_libs %}
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Annotamentum v5</a></h1>
{% endblock %}

{% block nav-global %}
    <p class="navigation">
        <a target="man" href="https://annot.readthedocs.org/en/latest/">man_annot</a> |
        <a target="src_annot" href="https://gitlab.com/biotransistor/annot">src_annot</a> |
        <a target="src_acjson" href="https://gitlab.com/biotransistor/acpipe_acjson">src_acjson</a> |
        <a target="annottown" href="http://annot.com/">time_off</a>
    </p>
{% endblock %}
