/*
    DJANGO Admin styles
*/

/* 20151123 bue: background modified */
body {
    background: #50C878; /*emerald*/
}


/* LINKS */
/* 20170413 bue: change text colour */
a:link, a:visited {
    color: #000000; /*black*/
}


/* MODULES */
/* 20151123 bue: modified to highlight annot layes at the django admin page*/
.module {
    margin-bottom: 8px;
    background: #E6E6FA; /*lavender*/
}

.module[class^="app-app0investigation"] {
    background: #334455; /*kind of slate*/
}
.module[class^="app-app1study"] {
    background: #445566; /*kind of slate*/
}
.module[class^="app-app2track"] {
    background: #C54B8C; /*mulberry*/
}
.module[class^="app-app3runset"] {
    background: #4682B4;  /*steelblue*/
}
.module[class^="app-app4superset"] {
    background: #6495ED;  /*cornflowerblue*/
}
.module[class^="app-appacaxis"] {
    background: #00FFFF;  /*cyan*/
}
.module[class^="app-appbr"] {
    background: #FFDEAD; /*navajowhite*/
}
.module[class^="app-appbrx"] {
    background: #FFFF80;  /*kinf of yellow*/
}
.module[class^="app-appon"] {
    background: #B22222;  /*firebrick*/
}
.module[class^="app-appsabrick"] {
    background: #FF8000;  /*kind of orange*/
}
.module[class^="app-appsavocabulary"] {
    background: #FF0000; /*red*/
}
.module[class^="app-appto"] {
    background: #800000; /*maroon*/
}

/* HEADER */
/* 20160216 bue: background modified to chocolat */
#header {
    background: #7B3F00;  /*dark chocolat*/
}


/*
    DJANGO Selectable UI widget CSS
*/

/* 20170413 bue: AutoComboboxSelectWidget style*/
input[data-selectable-type="combobox"] {
    width: 256px;
}

/* 20170413 bue: AutoComboboxSelectMultipleWidget style*/
input[data-selectable-type="combobox"][data-selectable-multiple="true"] {
    width: 256px;
}
